name: 12 - Custom composite action
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  composite:
    runs-on: ubuntu-latest
    name: Npm build test
    steps:
      - id: compuesta
        uses: juan-sanchez-ait/gha-npm-composite-action@v1
        with:
          node-version: 20